@charset "ISO-8859-1";

.font{
	font-size: 10px;
	color: black;
	
}

.form{
	background-color:white;
	height: 50vh;
	background-size: cover;
	width: 70vh;
	margin: 50px auto;
	text-align: center;
	border-radius: 5px;
}
.login{
	color:black;
}
.imagetitle{
	height: 1px;
	width: 1px;
}

/* NewFile.css */

/* ... your existing styles ... */

@keyframes changeColors {
    0%, 100% {
        background-color: #FF5733; /* Change this to the initial color */
    }
    25% {
        background-color: #33FFA8; /* Change this to the second color */
    }
    50% {
        background-color: #334BFF; /* Change this to the third color */
    }
    75% {
        background-color: #FF33C4; /* Change this to the fourth color */
    }
}

.changeColors {
    animation: changeColors 10s infinite;
}






